In [1]:

import pandas as pd
from facebook_scraper import get_posts

In [12]:
#empty list for data
dat = []
for post in get_posts(["coronavirus", "covid"], pages=10):
    #store each post, which is a dictionary into the dat list
	dat.append(post)

#make a list named colnames that is the keys from the first 
#dictionary (the first post) in dat
colNames = list(dat[1].keys())

#create an empty dataframe with rows = to the 
#length of dat (number of posts) and 
#columns = to the colNames
df = pd.DataFrame(index = range(1,len(dat)),columns = colNames)

IndexError: list index out of range

In [3]:
#loop through each post in dat and 
#append the values of each dictionary (post)
#to the dataframe.  In the end each post is one row
for i,post in enumerate(dat):
	df.loc[i] = list(post.values())

In [6]:
df.head()

,post_id,text,post_text,shared_text,time,image,likes,comments,shares,post_url,link
1,163581771851447,South China Morning Post was live.\n23 hrs ·\n...,,South China Morning Post was live.\n23 hrs ·\n...,2020-04-09 22:02:38,None,0,0,0,https://m.facebook.com/story.php?story_fbid=16...,None
2,163574898518801,Ohio Department of Health\nYesterday at 10:00 ...,,Ohio Department of Health\nYesterday at 10:00 ...,2020-04-09 21:37:11,None,0,0,0,https://m.facebook.com/story.php?story_fbid=16...,http://www.coronavirus.ohio.gov/
3,163449568531334,South China Morning Post was live.\nApril 8 at...,,South China Morning Post was live.\nApril 8 at...,2020-04-09 12:27:06,None,0,0,0,https://m.facebook.com/story.php?story_fbid=16...,None
4,163448711864753,DAILYMAIL.CO.UK\nItalian PM warns the EU could...,,DAILYMAIL.CO.UK\nItalian PM warns the EU could...,2020-04-09 12:24:08,https://external-iad3-1.xx.fbcdn.net/safe_imag...,0,0,0,https://m.facebook.com/story.php?story_fbid=16...,https://trib.al/FeXa6cz
5,163447185198239,DAILYMAIL.CO.UK\nItaly reaches grim coronaviru...,,DAILYMAIL.CO.UK\nItaly reaches grim coronaviru...,2020-04-09 12:17:33,https://external-iad3-1.xx.fbcdn.net/safe_imag...,0,0,0,https://m.facebook.com/story.php?story_fbid=16...,https://trib.al/hDPTfRV

In [7]:
type(df["time"])

pandas.core.series.Series

In [8]:
df["time"]

1     2020-04-09 22:02:38
2     2020-04-09 21:37:11
3     2020-04-09 12:27:06
4     2020-04-09 12:24:08
5     2020-04-09 12:17:33
              ...
154   2020-03-21 14:35:23
155   2020-03-21 14:34:40
156   2020-03-21 14:21:51
157   2020-03-21 10:15:38
0     2020-04-09 22:03:10
Name: time, Length: 158, dtype: datetime64[ns]

In [11]:
df["text"][1]

'South China Morning Post was live.\n23 hrs ·\nLive figures showing the latest numbers of confirmed cases and deaths in the rapidly spreading coronavirus outbreak that has killed at least 95,000 worldwide.'